<div layout="row" fxFlexOffset="15%" fxFlex="70%">
	<h2>Form Controls</h2>
	<div class="form-container" layout="row" fxFlexOffset="15%" fxFlex="70">
		<form>
			<md-input-container>
				<input mdInput placeholder="First Name">
			</md-input-container>
			<md-input-container>
				<input mdInput placeholder="Last Name">
			</md-input-container>
			<md-input-container>
				<input mdInput placeholder="Date" type="date">
			</md-input-container>
			<md-input-container>
				<input mdInput placeholder="Email" type="email">
			</md-input-container>
			<md-input-container>
				<input mdInput placeholder="Month" type="month">
			</md-input-container>
			<md-input-container>
				<input mdInput placeholder="Number" type="number">
			</md-input-container>
			<md-input-container>
				<input mdInput placeholder="Password" type="password">
			</md-input-container>
			<md-input-container>
				<input mdInput placeholder="Search" type="search">
			</md-input-container>
			<md-input-container>
				<input mdInput placeholder="Time" type="time">
			</md-input-container>
			<md-input-container>
				<input mdInput placeholder="Week" type="week">
			</md-input-container>
			<md-checkbox>Checkbox!</md-checkbox>
			<br>
			<md-radio-group>
				<md-radio-button value="1">Radio button 1</md-radio-button>
				<md-radio-button value="2">Radio button 2</md-radio-button>
				<md-radio-button value="3">Radio button 3</md-radio-button>
				<md-radio-button value="4">Radio button 4</md-radio-button>
				<md-radio-button value="5">Radio button 5</md-radio-button>
			</md-radio-group>
			<br><br>
			Select Menu:
			<md-select placeholder="Select One">
				<md-option>Option 1</md-option>
				<md-option>Option 2</md-option>
				<md-option>Option 3</md-option>
				<md-option>Option 4</md-option>
			</md-select>
			<br>
			Slider:
			<md-slider thumbLabel step="4" tickInterval="auto">Slider</md-slider>
			<br>
			Slider Toggle:
			<md-slide-toggle></md-slide-toggle>
			<button md-button type="submit">Submit</button>
		</form>
	</div>
</div>
