<div id="footer" layout="column" fxFlexOffset="15%" fxFlex="70%">
	<div class="footer-section" layout="column" fxFlex="33.33">
		<h4>Legal</h4>
		<p>Lorem Ipsum Blurb</p>
	</div>
	<div class="footer-section" layout="column" fxFlex="33.33">
		<h4>Sitemap</h4>
		<ul>
			<li><a routerLinkActive="active" href="">Link</a></li>
			<li><a href="">Link</a></li>
			<li><a href="">Link</a></li>
			<li><a href="">Link</a></li>
			<li><a href="">Link</a></li>
		</ul>
	</div>
	<div class="footer-section" layout="column" fxFlex="33.33">
		<h4>About</h4>
		<p>This is a small Angular2 and Angular Material playground! 2017</p>
	</div>
</div>