<div id="header" layout="row" fxFlexOffset="15%" fxFlex="70%">
	<div>
		<h1>Angular2 and Material Design Practice</h1>
	</div>
	<div>
		<ul fxLayoutAlign="center">
			<li><a routerLink="/dashboard" md-button color="primary">Form Controls</a></li>
			<li><a routerLink="/navigation" md-button color="primary">Navigation</a></li>
			<li><a md-button color="primary">Layout</a></li>
			<li><a md-button color="primary">Buttons and More</a></li>
			<li><a md-button color="primary">Popups and Modals</a></li>
		</ul>
	</div>
</div>