#header{
	border-bottom: 1px solid silver;
}

h1{
	text-align: center;
}

ul{
	list-style-type: none;
	width: 100%;
}

li{
	display: inline-block;
	text-align: center;
	margin: auto;
}